@model  IEnumerable<sosyalkafe.Models.musteri_gonderileri>
@{
    ViewBag.Title = "Index";

}


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Ayarlar
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">İnstagram Etiket</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="instagram_tag" placeholder="Tag Giriniz">
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" id="tagGuncelleBtn">Güncelle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Fotoğraf İnceleme</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="timeline-body">
                            <ul class="users-list clearfix">
                                   @foreach (var item in Model)
                                   {
                                    <li id="li @Html.DisplayFor(modelItem => item.musteri_gonderi_id)">
                                      <img src="@Html.DisplayFor(modelItem => item.resim_adres)" alt="User Image">
                                      <button type="button" class="btn btn-box-tool">
                                          <i class="fa fa-thumbs-down" name="iptal" id="iptal @Html.DisplayFor(modelItem => item.musteri_gonderi_id)"></i>
                                      </button>
                                      <button type="button" class="btn btn-box-tool">
                                          <i class="fa fa-thumbs-o-up" name="onay" id="onay @Html.DisplayFor(modelItem => item.musteri_gonderi_id)"></i>
                                      </button>
                                    </li>
                                   }
                                    
                            </ul>
                            <!-- /.users-list -->
                        </div>
                       
                        <!-- /.box-footer -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>


   
    
