<!doctype html>
<html>

<!-- Mirrored from www.hookah-muenster.de/screen by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Oct 2016 08:54:11 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Hookah Lounge & Café">
    <meta name="publisher" content="Hookah Lounge & Café">
    <meta name="copyright" content="Hookah Lounge & Café">
    <meta http-equiv="content-language" content="de">
    <meta name="robots" content="index, follow">

    <title>Şirket İsmi & Café</title>

    <link href="~/Areas/Uygulama/Content/css/normalize.css" rel="stylesheet" />
    <link href="~/Areas/Uygulama/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="~/Areas/Uygulama/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Uygulama/Content/css/screen.css" rel="stylesheet" />

</head>
<body>
@RenderBody()
</body>

<!-- Mirrored from www.hookah-muenster.de/screen by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Oct 2016 08:54:15 GMT -->
</html>