<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sosyalkafe.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sosyalkafe.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sosyalkafe</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sosyalkafe</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="sosyalkafeEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sosyalkafedbserver.database.windows.net,1433;Initial Catalog=sosyalkafe_db;User Id=sqlserversosyalkafe@sosyalkafedbserver;Password=oa;LKO@%7=|V5/R" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="sosyalkafe.Models.sosyalkafeEntities, sosyalkafe" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sosyalkafeEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.sosyalkafeentity.csdl|res://*/Models.sosyalkafeentity.ssdl|res://*/Models.sosyalkafeentity.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:sosyalkafedbserver.database.windows.net,1433;Initial Catalog=sosyalkafe_db;User Id=sqlserversosyalkafe@sosyalkafedbserver;Password=oa;LKO@%7=|V5/R"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>